[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gchartsmap"]
	path = gchartsmap
	url = https://github.com/odeleongt/gchartsmap
